*.[oa]
*.bit
*.log
*.swp
*.elf
*.bin
*.fpg
*.raw
*.fbi
boards/milkymist-one/synthesis/build
boards/milkymist-one/synthesis/build-rescue
boards/milkymist-one/standby/build
software/demo/logo.h
software/libfpvm/parser.c
software/libfpvm/parser.h
software/libfpvm/parser.out
software/libfpvm/scanner.c
software/libhal/softusb-input.h
tools/bin2hex
tools/byteswap
tools/flterm
tools/makeraw
tools/mkmmimg
