CONFIG VCCAUX = "3.3";

# ==== Clock input ====
NET "clkin" TNM_NET = CLK_16MHZ;
TIMESPEC TS_CLK_16MHZ = PERIOD CLK_16MHZ 62.50 ns;

NET "clkin" LOC = C10 | IOSTANDARD = LVCMOS33;

# ==== Reset button ====
NET "resetin" LOC = H4 | IOSTANDARD = LVCMOS33;

# ==== Linear Flash ====
NET "flash_adr(0)" LOC = P16 | IOSTANDARD = LVCMOS33; # also D15
NET "flash_adr(1)" LOC = N16 | IOSTANDARD = LVCMOS33;
NET "flash_adr(2)" LOC = L13 | IOSTANDARD = LVCMOS33;
NET "flash_adr(3)" LOC = K13 | IOSTANDARD = LVCMOS33;
NET "flash_adr(4)" LOC = M15 | IOSTANDARD = LVCMOS33;
NET "flash_adr(5)" LOC = M16 | IOSTANDARD = LVCMOS33;
NET "flash_adr(6)" LOC = L14 | IOSTANDARD = LVCMOS33;
NET "flash_adr(7)" LOC = L16 | IOSTANDARD = LVCMOS33;
NET "flash_adr(8)" LOC = J12 | IOSTANDARD = LVCMOS33;
NET "flash_adr(9)" LOC = J13 | IOSTANDARD = LVCMOS33;
NET "flash_adr(10)" LOC = G16 | IOSTANDARD = LVCMOS33;
NET "flash_adr(11)" LOC = F16 | IOSTANDARD = LVCMOS33;
NET "flash_adr(12)" LOC = H13 | IOSTANDARD = LVCMOS33;
NET "flash_adr(13)" LOC = G14 | IOSTANDARD = LVCMOS33;
NET "flash_adr(14)" LOC = E16 | IOSTANDARD = LVCMOS33;
NET "flash_adr(15)" LOC = F15 | IOSTANDARD = LVCMOS33;
NET "flash_adr(16)" LOC = G13 | IOSTANDARD = LVCMOS33;
NET "flash_adr(17)" LOC = F14 | IOSTANDARD = LVCMOS33;
NET "flash_adr(18)" LOC = E14 | IOSTANDARD = LVCMOS33;
NET "flash_adr(19)" LOC = F13 | IOSTANDARD = LVCMOS33;
NET "flash_adr(20)" LOC = D16 | IOSTANDARD = LVCMOS33;
NET "flash_adr(21)" LOC = D15 | IOSTANDARD = LVCMOS33;
NET "flash_d(0)" LOC = T14 | IOSTANDARD = LVCMOS33;
NET "flash_d(1)" LOC = R13 | IOSTANDARD = LVCMOS33;
NET "flash_d(2)" LOC = T13 | IOSTANDARD = LVCMOS33;
NET "flash_d(3)" LOC = P12 | IOSTANDARD = LVCMOS33;
NET "flash_d(4)" LOC = N8 | IOSTANDARD = LVCMOS33;
NET "flash_d(5)" LOC = P7 | IOSTANDARD = LVCMOS33;
NET "flash_d(6)" LOC = T6 | IOSTANDARD = LVCMOS33;
NET "flash_d(7)" LOC = T5 | IOSTANDARD = LVCMOS33;
NET "flash_byte_n" LOC = N14 | IOSTANDARD = LVCMOS33;
NET "flash_oe_n" LOC = R15 | IOSTANDARD = LVCMOS33;
NET "flash_we_n" LOC = N13 | IOSTANDARD = LVCMOS33;
NET "flash_ce_n" LOC = P15 | IOSTANDARD = LVCMOS33;
NET "flash_reset_n" LOC = T10 | IOSTANDARD = LVCMOS33;

# ==== UART ====
NET "uart_txd" LOC = B3 | IOSTANDARD = LVCMOS33;
NET "uart_rxd" LOC = A3 | IOSTANDARD = LVCMOS33;

# ==== Push buttons ====
NET "btn(0)" LOC = K3 | IOSTANDARD = LVCMOS33;
NET "btn(1)" LOC = H5 | IOSTANDARD = LVCMOS33;
NET "btn(2)" LOC = L3 | IOSTANDARD = LVCMOS33;

# ==== LEDs ====
NET "led(0)" LOC = D14 | IOSTANDARD = LVCMOS33;
NET "led(1)" LOC = C16 | IOSTANDARD = LVCMOS33;
NET "led(2)" LOC = C15 | IOSTANDARD = LVCMOS33;
NET "led(3)" LOC = B15 | IOSTANDARD = LVCMOS33;

# ==== Prohibit Special Pins ====
CONFIG PROHIBIT = T12;  # FPGA_INIT_B
CONFIG PROHIBIT = D5;   # FPGA_PUDC
CONFIG PROHIBIT = P4;   # PSOC_FPGA_M0
CONFIG PROHIBIT = N4;   # PSOC_FPGA_M1
CONFIG PROHIBIT = R2;   # PSOC_FPGA_M2
