NET "clk50" LOC = AB11 | IOSTANDARD = LVCMOS33;
NET "clk50" TNM_NET = "GRPclk50";
TIMESPEC "TSclk50" = PERIOD "GRPclk50" 20 ns HIGH 50%;

NET "btn1" LOC = AB4 | IOSTANDARD = LVCMOS33;
NET "btn2" LOC = AA4 | IOSTANDARD = LVCMOS33;
NET "btn3" LOC = AB5 | IOSTANDARD = LVCMOS33;

NET "led1" LOC = B16 | IOSTANDARD = LVCMOS33 | SLEW = QUIETIO | DRIVE = 24;
NET "led2" LOC = A16 | IOSTANDARD = LVCMOS33 | SLEW = QUIETIO | DRIVE = 24;

NET "flash_rst_n" LOC = P22 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "sdram_clk_p" LOC = M3 | IOSTANDARD = SSTL2_I;
NET "sdram_clk_n" LOC = L4 | IOSTANDARD = SSTL2_I;
NET "vga_clk" LOC = A11 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "vga_psave_n" LOC = B14 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "mc_clk" LOC = A10 | IOSTANDARD = LVCMOS33;
NET "ac97_rst_n" LOC = D6 | IOSTANDARD = LVCMOS33;
NET "usba_oe_n" LOC = Y6 | IOSTANDARD = LVCMOS33;
NET "usbb_oe_n" LOC = R8 | IOSTANDARD = LVCMOS33;
NET "phy_rst_n" LOC = R22 | IOSTANDARD = LVCMOS33;
NET "videoin_rst_n" LOC = W17 | IOSTANDARD = LVCMOS33;
NET "midi_tx" LOC = AA21 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET "dmxa_de" LOC = T18 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
NET "dmxb_de" LOC = AB19 | IOSTANDARD = LVCMOS33 | SLEW = SLOW;
