# ==== Clock input ====
NET "clkin" LOC = AE14 | IOSTANDARD = LVCMOS33;

NET "clkin" TNM_NET = "clkin";
TIMESPEC "TSclkin" = PERIOD "clkin" 10 ns HIGH 50% INPUT_JITTER 100 ps;

# ==== Reset button ====
NET "resetin" LOC = D6 | IOSTANDARD = LVCMOS25;

# ==== Linear Flash ====
NET "flash_adr(0)" LOC = T20;
NET "flash_adr(1)" LOC = Y1;
NET "flash_adr(2)" LOC = Y2;
NET "flash_adr(3)" LOC = AA1;
NET "flash_adr(4)" LOC = AB1;
NET "flash_adr(5)" LOC = AB2;
NET "flash_adr(6)" LOC = AC1;
NET "flash_adr(7)" LOC = AC2;
NET "flash_adr(8)" LOC = AD1;
NET "flash_adr(9)" LOC = AD2;
NET "flash_adr(10)" LOC = AE3;
NET "flash_adr(11)" LOC = AF3;
NET "flash_adr(12)" LOC = W3;
NET "flash_adr(13)" LOC = W6;
NET "flash_adr(14)" LOC = W5;
NET "flash_adr(15)" LOC = AA3;
NET "flash_adr(16)" LOC = AA4;
NET "flash_adr(17)" LOC = AB3;
NET "flash_adr(18)" LOC = AB4;
NET "flash_adr(19)" LOC = AC4;
NET "flash_adr(20)" LOC = AB5;
NET "flash_adr(21)" LOC = AC5;
NET "flash_adr(22)" LOC = T19;
NET "flash_adr(23)" LOC = U20;
NET "flash_adr(24)" LOC = T21;

NET "flash_adr(*)" IOSTANDARD = LVDCI_33;
NET "flash_adr(*)" SLEW = FAST;
NET "flash_adr(*)" DRIVE = 8;

NET "flash_d(0)" LOC = AD13;
NET "flash_d(1)" LOC = AC13;
NET "flash_d(2)" LOC = AC15;
NET "flash_d(3)" LOC = AC16;
NET "flash_d(4)" LOC = AA11;
NET "flash_d(5)" LOC = AA12;
NET "flash_d(6)" LOC = AD14;
NET "flash_d(7)" LOC = AC14;
NET "flash_d(8)" LOC = AA13;
NET "flash_d(9)" LOC = AB13;
NET "flash_d(10)" LOC = AA15;
NET "flash_d(11)" LOC = AA16;
NET "flash_d(12)" LOC = AC11;
NET "flash_d(13)" LOC = AC12;
NET "flash_d(14)" LOC = AB14;
NET "flash_d(15)" LOC = AA14;
NET "flash_d(16)" LOC = D12;
NET "flash_d(17)" LOC = E13;
NET "flash_d(18)" LOC = C16;
NET "flash_d(19)" LOC = D16;
NET "flash_d(20)" LOC = D11;
NET "flash_d(21)" LOC = C11;
NET "flash_d(22)" LOC = E14;
NET "flash_d(23)" LOC = D15;
NET "flash_d(24)" LOC = D13;
NET "flash_d(25)" LOC = D14;
NET "flash_d(26)" LOC = F15;
NET "flash_d(27)" LOC = F16;
NET "flash_d(28)" LOC = F11;
NET "flash_d(29)" LOC = F12;
NET "flash_d(30)" LOC = F13;
NET "flash_d(31)" LOC = F14;

NET "flash_d(*)" IOSTANDARD = LVCMOS33;
NET "flash_d(*)" PULLDOWN;

NET "flash_byte_n" LOC = N22;
NET "flash_byte_n" IOSTANDARD = LVDCI_33;
NET "flash_byte_n" SLEW = FAST;
NET "flash_byte_n" DRIVE = 8;

NET "flash_oe_n" LOC = AC6;
NET "flash_oe_n" IOSTANDARD = LVDCI_33;
NET "flash_oe_n" SLEW = FAST;
NET "flash_oe_n" DRIVE = 8;

NET "flash_we_n" LOC = AB6;
NET "flash_we_n" IOSTANDARD = LVDCI_33;
NET "flash_we_n" SLEW = FAST;
NET "flash_we_n" DRIVE = 8;

NET "flash_ce" LOC = W7;
NET "flash_ce" IOSTANDARD = LVDCI_33;
NET "flash_ce" SLEW = FAST;
NET "flash_ce" DRIVE = 8;

NET "flash_ac97_reset_n" LOC = AD10;
NET "flash_ac97_reset_n" IOSTANDARD = LVCMOS33;

# We do not use the SRAM, but we need
# to get the clock and select signals
# to disable it in a non-Murphy-prone way.
NET "sram_clk" LOC = AF7;
NET "sram_clk" IOSTANDARD = LVCMOS33;
NET "sram_clk" DRIVE = 16;
NET "sram_clk" SLEW = FAST;

NET "sram_ce_n" LOC = V7;
NET "sram_ce_n" IOSTANDARD = LVDCI_33;
NET "sram_ce_n" SLEW = FAST;
NET "sram_ce_n" DRIVE = 8;

NET "sram_zz" LOC = V25;
NET "sram_zz" IOSTANDARD = LVDCI_33;
NET "sram_zz" SLEW = FAST;
NET "sram_zz" DRIVE = 8;

# ==== UART ====
NET "uart_rxd" LOC = W2 | IOSTANDARD = LVCMOS33;
NET "uart_txd" LOC = W1 | IOSTANDARD = LVCMOS33;

# ==== Push buttons ====
NET "btn(0)" LOC = E7 | IOSTANDARD = LVCMOS25;  # N
NET "btn(1)" LOC = E9  | IOSTANDARD = LVCMOS25; # W
NET "btn(2)" LOC = A6 | IOSTANDARD = LVCMOS25;  # S
NET "btn(3)" LOC = F10 | IOSTANDARD = LVCMOS25; # E
NET "btn(4)" LOC = B6 | IOSTANDARD = LVCMOS25;  # C

# ==== Push button LEDs ====
NET "btnled(0)" LOC = E2 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 8;  # N
NET "btnled(1)" LOC = F9 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 8;  # W
NET "btnled(2)" LOC = A5 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 8;  # S
NET "btnled(3)" LOC = E10 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 8; # E
NET "btnled(4)" LOC = C6 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 8;  # C

# ==== LEDs ====
NET "led(0)" LOC = G5 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 8;
NET "led(1)" LOC = G6 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 8;
NET "led(2)" LOC = A11 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 8;
NET "led(3)" LOC = A12 | IOSTANDARD = LVCMOS25 | SLEW = SLOW | DRIVE = 8;

# ==== DIP switches ====
NET "dipsw(0)" LOC = R20 | IOSTANDARD = LVCMOS33;
NET "dipsw(1)" LOC = R19 | IOSTANDARD = LVCMOS33;
NET "dipsw(2)" LOC = T26 | IOSTANDARD = LVCMOS33;
NET "dipsw(3)" LOC = U26 | IOSTANDARD = LVCMOS33;
NET "dipsw(4)" LOC = U23 | IOSTANDARD = LVCMOS33;
NET "dipsw(5)" LOC = V23 | IOSTANDARD = LVCMOS33;
NET "dipsw(6)" LOC = U25 | IOSTANDARD = LVCMOS33;
NET "dipsw(7)" LOC = U24 | IOSTANDARD = LVCMOS33;

# ==== Character LCD ====
NET "lcd_e" LOC = AE13 | IOSTANDARD = LVCMOS33;
NET "lcd_rs" LOC = AC17 | IOSTANDARD = LVCMOS33;
NET "lcd_rw" LOC = AB17 | IOSTANDARD = LVCMOS33;
NET "lcd_d(0)" LOC = AB10 | IOSTANDARD = LVCMOS33; # DB4
NET "lcd_d(1)" LOC = AC10 | IOSTANDARD = LVCMOS33; # DB5
NET "lcd_d(2)" LOC = AE12 | IOSTANDARD = LVCMOS33; # DB6
NET "lcd_d(3)" LOC = AF12 | IOSTANDARD = LVCMOS33; # DB7

# ==== DDR SDRAM ====
NET "sdram_adr(0)" LOC = C26;
NET "sdram_adr(1)" LOC = E17;
NET "sdram_adr(2)" LOC = D18;
NET "sdram_adr(3)" LOC = C19;
NET "sdram_adr(4)" LOC = F17;
NET "sdram_adr(5)" LOC = B18;
NET "sdram_adr(6)" LOC = B20;
NET "sdram_adr(7)" LOC = C20;
NET "sdram_adr(8)" LOC = D20;
NET "sdram_adr(9)" LOC = C21;
NET "sdram_adr(10)" LOC = A18;
NET "sdram_adr(11)" LOC = B21;
NET "sdram_adr(12)" LOC = A24;
NET "sdram_ba(0)" LOC = B12;
NET "sdram_ba(1)" LOC = A16;
NET "sdram_cas_n" LOC = F23;
NET "sdram_cke" LOC = G22;
NET "sdram_cs_n" LOC = G21;
NET "sdram_ras_n" LOC = F24;
NET "sdram_we_n" LOC = A23;

NET "sdram_clk_p" LOC = A10;
NET "sdram_clk_fb" LOC = B13;
NET "sdram_clk_n" LOC = B10;

NET "sdram_dqm(0)" LOC = G19;
NET "sdram_dqm(1)" LOC = G24;
NET "sdram_dqm(2)" LOC = G20;
NET "sdram_dqm(3)" LOC = C22;

NET "sdram_dqs(0)" LOC = D25;
NET "sdram_dqs(1)" LOC = G18;
NET "sdram_dqs(2)" LOC = G17;
NET "sdram_dqs(3)" LOC = D26;

NET "sdram_dq(0)" LOC = H20;
NET "sdram_dq(1)" LOC = E23;
NET "sdram_dq(2)" LOC = H26;
NET "sdram_dq(3)" LOC = H22;
NET "sdram_dq(4)" LOC = E25;
NET "sdram_dq(5)" LOC = E26;
NET "sdram_dq(6)" LOC = F26;
NET "sdram_dq(7)" LOC = E24;
NET "sdram_dq(8)" LOC = E20;
NET "sdram_dq(9)" LOC = A22;
NET "sdram_dq(10)" LOC = C23;
NET "sdram_dq(11)" LOC = C24;
NET "sdram_dq(12)" LOC = A20;
NET "sdram_dq(13)" LOC = A21;
NET "sdram_dq(14)" LOC = D24;
NET "sdram_dq(15)" LOC = E18;
NET "sdram_dq(16)" LOC = F18;
NET "sdram_dq(17)" LOC = A19;
NET "sdram_dq(18)" LOC = F19;
NET "sdram_dq(19)" LOC = B23;
NET "sdram_dq(20)" LOC = E21;
NET "sdram_dq(21)" LOC = D22;
NET "sdram_dq(22)" LOC = D23;
NET "sdram_dq(23)" LOC = B24;
NET "sdram_dq(24)" LOC = E22;
NET "sdram_dq(25)" LOC = F20;
NET "sdram_dq(26)" LOC = H23;
NET "sdram_dq(27)" LOC = G25;
NET "sdram_dq(28)" LOC = G26;
NET "sdram_dq(29)" LOC = H25;
NET "sdram_dq(30)" LOC = H24;
NET "sdram_dq(31)" LOC = H21;

NET "sdram_adr(*)" IOSTANDARD = SSTL2_I;
NET "sdram_ba(*)" IOSTANDARD = SSTL2_I;
NET "sdram_cas_n" IOSTANDARD = SSTL2_I;
NET "sdram_cke" IOSTANDARD = SSTL2_I;
NET "sdram_clk_p" IOSTANDARD = SSTL2_I;
NET "sdram_clk_fb" IOSTANDARD = LVCMOS25;
NET "sdram_clk_n" IOSTANDARD = SSTL2_I;
NET "sdram_cs_n" IOSTANDARD = SSTL2_I;
NET "sdram_ras_n" IOSTANDARD = SSTL2_I;
NET "sdram_we_n" IOSTANDARD = SSTL2_I;

NET "sdram_dqs(*)" IOSTANDARD = SSTL2_II;
NET "sdram_dqm(*)" IOSTANDARD = SSTL2_II;
NET "sdram_dq(*)" IOSTANDARD = SSTL2_II;

# ==== VGA output ====
NET "vga_r(0)" LOC = N23 | IOSTANDARD = LVCMOS33; # yes, 3.3V for the 3 LSBs
NET "vga_r(1)" LOC = N24 | IOSTANDARD = LVCMOS33;
NET "vga_r(2)" LOC = N25 | IOSTANDARD = LVCMOS33;
NET "vga_r(3)" LOC = C2 | IOSTANDARD = LVCMOS25; # and 2.5V for the rest
NET "vga_r(4)" LOC = G7 | IOSTANDARD = LVCMOS25;
NET "vga_r(5)" LOC = F7 | IOSTANDARD = LVCMOS25;
NET "vga_r(6)" LOC = E5 | IOSTANDARD = LVCMOS25;
NET "vga_r(7)" LOC = E6 | IOSTANDARD = LVCMOS25;

NET "vga_r(*)" SLEW = FAST | DRIVE = 8;

NET "vga_g(0)" LOC = M22 | IOSTANDARD = LVCMOS33;
NET "vga_g(1)" LOC = M23 | IOSTANDARD = LVCMOS33;
NET "vga_g(2)" LOC = M20 | IOSTANDARD = LVCMOS33;
NET "vga_g(3)" LOC = E4 | IOSTANDARD = LVCMOS25;
NET "vga_g(4)" LOC = D3 | IOSTANDARD = LVCMOS25;
NET "vga_g(5)" LOC = H7 | IOSTANDARD = LVCMOS25;
NET "vga_g(6)" LOC = H8 | IOSTANDARD = LVCMOS25;
NET "vga_g(7)" LOC = C1 | IOSTANDARD = LVCMOS25;

NET "vga_g(*)" SLEW = FAST | DRIVE = 8;

NET "vga_b(0)" LOC = M21 | IOSTANDARD = LVCMOS33;
NET "vga_b(1)" LOC = M26 | IOSTANDARD = LVCMOS33;
NET "vga_b(2)" LOC = L26 | IOSTANDARD = LVCMOS33;
NET "vga_b(3)" LOC = C5 | IOSTANDARD = LVCMOS25;
NET "vga_b(4)" LOC = C7 | IOSTANDARD = LVCMOS25;
NET "vga_b(5)" LOC = B7 | IOSTANDARD = LVCMOS25;
NET "vga_b(6)" LOC = G8 | IOSTANDARD = LVCMOS25;
NET "vga_b(7)" LOC = F8 | IOSTANDARD = LVCMOS25;

NET "vga_b(*)" SLEW = FAST | DRIVE = 8;

NET "vga_vsync_n" LOC = A8 | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8;
NET "vga_hsync_n" LOC = C10 | IOSTANDARD = LVCMOS25 | SLEW = FAST | DRIVE = 8;
NET "vga_clkout" LOC = AF8 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "vga_psave_n" LOC = M25 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "vga_blank_n" LOC = M24 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;
NET "vga_sync_n" LOC = L23 | IOSTANDARD = LVCMOS33 | SLEW = FAST | DRIVE = 8;

# ==== SystemACE/USB ====

# Shared signals
NET "aceusb_a(0)" LOC = U22;
NET "aceusb_a(1)" LOC = Y10;
NET "aceusb_a(2)" LOC = AA10;
NET "aceusb_a(3)" LOC = AC7;
NET "aceusb_a(4)" LOC = Y7;
NET "aceusb_a(5)" LOC = AA9;
NET "aceusb_a(6)" LOC = Y9;
NET "aceusb_a(*)" IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "aceusb_d(0)" LOC = AB7;
NET "aceusb_d(1)" LOC = AC9;
NET "aceusb_d(2)" LOC = AB9;
NET "aceusb_d(3)" LOC = AE6;
NET "aceusb_d(4)" LOC = AD6;
NET "aceusb_d(5)" LOC = AF9;
NET "aceusb_d(6)" LOC = AE9;
NET "aceusb_d(7)" LOC = AD8;
NET "aceusb_d(8)" LOC = AC8;
NET "aceusb_d(9)" LOC = AF4;
NET "aceusb_d(10)" LOC = AE4;
NET "aceusb_d(11)" LOC = AD3;
NET "aceusb_d(12)" LOC = AC3;
NET "aceusb_d(13)" LOC = AF6;
NET "aceusb_d(14)" LOC = AF5;
NET "aceusb_d(15)" LOC = AA7;
NET "aceusb_d(*)" IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4 | PULLDOWN;
NET "aceusb_oe_n" LOC = AA8 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "aceusb_we_n" LOC = Y8 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;

# SystemACE signals
NET "ace_clkin" LOC = AF11;
NET "ace_clkin" IOSTANDARD = LVCMOS33;
NET "ace_clkin" TNM_NET = "ace_clkin";
# leave 1ns margin (as in the ML401 UCF from Xilinx)
TIMESPEC "TSace" = PERIOD "ace_clkin" 29 ns HIGH 50%;

NET "ace_mpce_n" LOC = AD5 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "ace_mpirq" LOC = AD4 | IOSTANDARD = LVCMOS33 | PULLDOWN;

# USB signals
NET "usb_cs_n" LOC = AF10 | IOSTANDARD = LVCMOS33 | SLEW = SLOW | DRIVE = 4;
NET "usb_hpi_reset_n" LOC = A7 | IOSTANDARD = LVCMOS25;
NET "usb_hpi_int" LOC = V5 | IOSTANDARD = LVCMOS33 | PULLDOWN;

# ==== AC97 ====
NET "ac97_clk" LOC = AE10 | IOSTANDARD = LVCMOS33;
NET "ac97_sin" LOC = AD16 | IOSTANDARD = LVCMOS33; # codec to FPGA
NET "ac97_sout" LOC = C8 | IOSTANDARD = LVCMOS25;  # FPGA to codec
NET "ac97_sync" LOC = D9 | IOSTANDARD = LVCMOS25;
# reset is shared with Flash (see above)

NET "ac97_clk" TNM_NET = "clkac97";
TIMESPEC "TSclkac97" = PERIOD "clkac97" 80 HIGH 50%;

# ==== PS/2 ====
# "keyboard" connector
NET "ps2_clk1"  LOC = D2 | IOSTANDARD = LVCMOS25;
NET "ps2_data1" LOC = G9 | IOSTANDARD = LVCMOS25;
# "mouse" connector
NET "ps2_clk2"  LOC = B14 | IOSTANDARD = LVCMOS25;
NET "ps2_data2" LOC = C14 | IOSTANDARD = LVCMOS25;

# ==== Ethernet ====
NET "phy_col" LOC = E3;
NET "phy_crs" LOC = D5;
NET "phy_dv" LOC = A9;
NET "phy_rx_clk" LOC = B15;
NET "phy_rx_data<3>" LOC = C4;
NET "phy_rx_data<2>" LOC = D4;
NET "phy_rx_data<1>" LOC = E1;
NET "phy_rx_data<0>" LOC = F1;

NET "phy_rx_er" LOC = B9;
NET "phy_tx_clk" LOC = C15;
NET "phy_mii_clk" LOC = D1;
NET "phy_mii_int_n" LOC = H4;
NET "phy_rst_n" LOC = D10;
NET "phy_tx_data<3>" LOC = G1;
NET "phy_tx_data<2>" LOC = H3;
NET "phy_tx_data<1>" LOC = H2;
NET "phy_tx_data<0>" LOC = H1;
NET "phy_tx_en" LOC = F4;
NET "phy_tx_er" LOC = F3;
NET "phy_mii_data" LOC = G4;

NET "phy_mii_int_n" PULLUP;

# Timing
NET "phy_rx_clk" TNM_NET = "RXCLK_GRP";
NET "phy_tx_clk" TNM_NET = "TXCLK_GRP";
TIMESPEC "TSTXOUT" = FROM "TXCLK_GRP" TO "PADS" 10 ns;
TIMESPEC "TSRXIN" = FROM "PADS" TO "RXCLK_GRP" 6 ns;

NET "phy_tx_clk" MAXSKEW= 1.0 ns;
NET "phy_rx_clk" MAXSKEW= 1.0 ns;
NET "phy_rx_clk" PERIOD = 40 ns HIGH 14 ns;
NET "phy_tx_clk" PERIOD = 40 ns HIGH 14 ns;

NET "phy_rx_data<3>" IOBDELAY=NONE;
NET "phy_rx_data<2>" IOBDELAY=NONE;
NET "phy_rx_data<1>" IOBDELAY=NONE;
NET "phy_rx_data<0>" IOBDELAY=NONE;
NET "phy_dv" IOBDELAY=NONE;
NET "phy_rx_er" IOBDELAY=NONE;
NET "phy_crs" IOBDELAY=NONE;
NET "phy_col" IOBDELAY=NONE;
