# LOC the DCMs related to SDRAM and the input BUFG
# to prevent tools from randomly screwing up
# the DDR timings when the design is changed.
INST "clkbuf" LOC = BUFGCTRL_X0Y9;
INST "ddram/clkgen_sdram" LOC = DCM_ADV_X0Y3;
INST "ddram/clkgen_dqs" LOC = DCM_ADV_X0Y4;

