//! **************************************************************************
// Written by: Map L.57 on Thu Oct 15 21:58:04 2009
//! **************************************************************************

SCHEMATIC START;
COMP "flash_adr<0>" LOCATE = SITE "T20" LEVEL 1;
COMP "flash_we_n" LOCATE = SITE "AB6" LEVEL 1;
COMP "flash_adr<1>" LOCATE = SITE "Y1" LEVEL 1;
COMP "flash_adr<2>" LOCATE = SITE "Y2" LEVEL 1;
COMP "flash_adr<3>" LOCATE = SITE "AA1" LEVEL 1;
COMP "led<0>" LOCATE = SITE "G5" LEVEL 1;
COMP "flash_adr<4>" LOCATE = SITE "AB1" LEVEL 1;
COMP "led<1>" LOCATE = SITE "G6" LEVEL 1;
COMP "flash_adr<5>" LOCATE = SITE "AB2" LEVEL 1;
COMP "led<2>" LOCATE = SITE "A11" LEVEL 1;
COMP "flash_adr<6>" LOCATE = SITE "AC1" LEVEL 1;
COMP "led<3>" LOCATE = SITE "A12" LEVEL 1;
COMP "flash_adr<7>" LOCATE = SITE "AC2" LEVEL 1;
COMP "flash_adr<8>" LOCATE = SITE "AD1" LEVEL 1;
COMP "flash_adr<9>" LOCATE = SITE "AD2" LEVEL 1;
COMP "flash_d<10>" LOCATE = SITE "AA15" LEVEL 1;
COMP "flash_d<11>" LOCATE = SITE "AA16" LEVEL 1;
COMP "flash_d<20>" LOCATE = SITE "D11" LEVEL 1;
COMP "flash_d<12>" LOCATE = SITE "AC11" LEVEL 1;
COMP "sram_zz" LOCATE = SITE "V25" LEVEL 1;
COMP "flash_oe_n" LOCATE = SITE "AC6" LEVEL 1;
COMP "flash_adr<10>" LOCATE = SITE "AE3" LEVEL 1;
COMP "flash_d<21>" LOCATE = SITE "C11" LEVEL 1;
COMP "flash_d<13>" LOCATE = SITE "AC12" LEVEL 1;
COMP "flash_adr<11>" LOCATE = SITE "AF3" LEVEL 1;
COMP "flash_d<30>" LOCATE = SITE "F13" LEVEL 1;
COMP "flash_d<22>" LOCATE = SITE "E14" LEVEL 1;
COMP "flash_d<14>" LOCATE = SITE "AB14" LEVEL 1;
COMP "flash_adr<20>" LOCATE = SITE "AB5" LEVEL 1;
COMP "flash_adr<12>" LOCATE = SITE "W3" LEVEL 1;
COMP "flash_d<31>" LOCATE = SITE "F14" LEVEL 1;
COMP "flash_d<23>" LOCATE = SITE "D15" LEVEL 1;
COMP "flash_d<15>" LOCATE = SITE "AA14" LEVEL 1;
COMP "flash_adr<21>" LOCATE = SITE "AC5" LEVEL 1;
COMP "flash_adr<13>" LOCATE = SITE "W6" LEVEL 1;
COMP "flash_d<24>" LOCATE = SITE "D13" LEVEL 1;
COMP "flash_d<16>" LOCATE = SITE "D12" LEVEL 1;
COMP "flash_adr<22>" LOCATE = SITE "T19" LEVEL 1;
COMP "flash_adr<14>" LOCATE = SITE "W5" LEVEL 1;
COMP "flash_d<25>" LOCATE = SITE "D14" LEVEL 1;
COMP "flash_d<17>" LOCATE = SITE "E13" LEVEL 1;
COMP "flash_d<0>" LOCATE = SITE "AD13" LEVEL 1;
COMP "flash_adr<23>" LOCATE = SITE "U20" LEVEL 1;
COMP "flash_adr<15>" LOCATE = SITE "AA3" LEVEL 1;
COMP "flash_d<26>" LOCATE = SITE "F15" LEVEL 1;
COMP "flash_d<18>" LOCATE = SITE "C16" LEVEL 1;
COMP "flash_d<1>" LOCATE = SITE "AC13" LEVEL 1;
COMP "flash_adr<24>" LOCATE = SITE "T21" LEVEL 1;
COMP "flash_adr<16>" LOCATE = SITE "AA4" LEVEL 1;
COMP "flash_d<27>" LOCATE = SITE "F16" LEVEL 1;
COMP "flash_d<19>" LOCATE = SITE "D16" LEVEL 1;
COMP "flash_d<2>" LOCATE = SITE "AC15" LEVEL 1;
COMP "flash_adr<17>" LOCATE = SITE "AB3" LEVEL 1;
COMP "flash_d<28>" LOCATE = SITE "F11" LEVEL 1;
COMP "flash_d<3>" LOCATE = SITE "AC16" LEVEL 1;
COMP "flash_adr<18>" LOCATE = SITE "AB4" LEVEL 1;
COMP "flash_ac97_reset_n" LOCATE = SITE "AD10" LEVEL 1;
COMP "flash_d<29>" LOCATE = SITE "F12" LEVEL 1;
COMP "flash_d<4>" LOCATE = SITE "AA11" LEVEL 1;
COMP "flash_adr<19>" LOCATE = SITE "AC4" LEVEL 1;
COMP "flash_d<5>" LOCATE = SITE "AA12" LEVEL 1;
COMP "flash_d<6>" LOCATE = SITE "AD14" LEVEL 1;
COMP "flash_d<7>" LOCATE = SITE "AC14" LEVEL 1;
COMP "flash_ce" LOCATE = SITE "W7" LEVEL 1;
COMP "sram_clk" LOCATE = SITE "AF7" LEVEL 1;
COMP "flash_d<8>" LOCATE = SITE "AA13" LEVEL 1;
COMP "clkin" LOCATE = SITE "AE14" LEVEL 1;
COMP "flash_d<9>" LOCATE = SITE "AB13" LEVEL 1;
COMP "sram_ce_n" LOCATE = SITE "V7" LEVEL 1;
COMP "flash_byte_n" LOCATE = SITE "N22" LEVEL 1;
SCHEMATIC END;

