INST "b1" LOC = BUFGMUX_X3Y6;
INST "b2" LOC = BUFGMUX_X2Y1;
#XXX INST "ddram/b1" LOC = BUFGMUX_X2Y4;
#XXX INST "ddram/b2" LOC = BUFGMUX_X2Y2;
#XXX INST "ddram/ck_b1" LOC = BUFGMUX_X3Y7;
#XXX INST "ddram/ck_b2" LOC = BUFGMUX_X3Y8;
#INST "b_videoin" LOC = BUFGMUX_X3Y15;
INST "vga/b" LOC = BUFGMUX_X2Y9;
#INST "b_phy_rx_clk" LOC = BUFGMUX_X3Y5;
#INST "b_phy_tx_clk" LOC= BUFGMUX_X2Y3;

INST "clkgen_sys" LOC = DCM_X0Y0;
INST "clkgen_usb" LOC = DCM_X0Y3;
#INST "ddram/clkgen_dqs" LOC = DCM_X0Y5;
#INST "ddram/clkgen_ck" LOC = DCM_X0Y7;
INST "vga/clkgen_vga" LOC = DCM_X0Y1;

CONFIG STEPPING = "ES";
